@using System.Web.Mvc.Html

@model ColloSys.UserInterface.Shared.ErrorModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Error";
}

<div class="form-horizontal">
    @using (Html.BeginForm("Index", "Error", FormMethod.Post))
    {
        if (Model.Message == null)
        {
        <div class="row-fluid">
            <div class="control-group">
                <div class="control-label"></div>
                <div class="controls">
                    <div class="alert alert-error">
                        <span>An unexpected error has occurred. Please contact the system administrator.</span>
                    </div>
                </div>
            </div>
        </div>

        <div class="row-fluid">
            <div class="control-group">
                <div class="control-label">Issue Summary</div>
                <div class="controls">
                    @Html.TextBoxFor(x => x.Summary, new { @required = "required" })
                </div>
            </div>
        </div>
        <div class="row-fluid">
            <div class="control-group">
                <div class="control-label">Priority</div>
                <div class="controls">
                    @Html.DropDownListFor(x => x.Priority, new SelectList(Model.ErrorPriority))
                </div>
            </div>
        </div>
        <div class="row-fluid">
            <div class="control-group">
                <div class="control-label">Error Type</div>
                <div class="controls">
                    @Html.TextBoxFor(x => x.ExceptionType, new { @class = "input-xxlarge", @readonly = "true", @rows = "1" })
                </div>
            </div>
        </div>
        <div class="row-fluid">
            <div class="control-group">
                <div class="control-label">Error Summary</div>
                <div class="controls">
                    @Html.TextBoxFor(x => x.ExceptionSummary, new { @class = "input-xxlarge", @readonly = "true", @rows = "1" })
                </div>
            </div>
        </div>
        <div class="row-fluid">
            <div class="control-group">
                <div class="control-label">Error Details</div>
                <div class="controls">
                    @Html.TextAreaFor(x => x.ExceptionStackTrace, new { @class = "alertify-text", @readonly = "true", @rows = "10" })
                </div>
            </div>
        </div>
        <div class="row-fluid">
            <div class="controls-row text-center">
                <button type="submit" id="subBtn" class="btn btn-success">Send Report</button>
            </div>
        </div>
        }
        else
        {
        <div class="row-fluid">
            <div class="alert alert-success">
                <span>@Model.Message</span>
            </div>
        </div>
        }
    }
</div>
