@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
    

    
<div class="row-fluid ng-cloak" data-ng-controller="liststakeholders" data-ng-cloak>
    <div class="row-fluid">
     <div class="btn-toolbar">
            <div class="row-fluid">
                <div class="btn-group" data-ng-show="displayAdd">
                    @Html.ActionLink("Add New", "AddStakeholder", "Stakeholder",null,new {@class="btn btn-success"})
                </div>
            </div>
        </div>
</div>
    <!--row for show all stakeholders-->
    <div class="row-fluid" data-ng-show="listOfStakeholders.length > 0">
        @Html.Partial("ShowAllStakeholders")  
    </div>

   @* <div class="panel" ng-show="listOfStakeholders.length > 0">
        <div class="panel-heading">
            Stakeholders
        </div>
        <div class="row-fluid" >
            @Html.Partial("ShowAllStakeholders")  
        </div>
    </div>*@

    <div class="row-fluid text-center" ng-hide="listOfStakeholders.length > 0">
        <label class="info">No Stakeholder</label>
    </div>
            

    <!--model for edit single stakeholder-->
    <div modal="count > 0" close="closeModel()" options="modelOption">
            
        <div class="modal-header well-small2" >
            Stakeholder Details
        </div>
        <div class="row-fluid">
            @*<div class="alert alert-danger">
                * Mandatory fields
            </div>*@
            <div class="text-right text-error">
                * Mandatory fields
            </div>
        </div>
        <div class="modal-body">
            <!--row for show stakeholder for single edit-->
            <div class="form-horizontal" ng-show="count>0">
            
                <!--row for details-->
                <div class="row-fluid" >
                    <div class="panel" ng-form="formDetails">
                        <div class="panel-heading">
                            Details
                        </div>
                        @Html.Partial("EditDetails")
                    </div>
                </div>
            
                <!--row for registration-->
                <div class="row-fluid" ng-show="Stakeholder.StkhRegistrations.length>0 && Hierarchy.HasRegistration">
                    <div class="panel">
                        <div class="panel-heading">
                            Registration
                        </div>
                        @Html.Partial("EditRegistration")
                    </div>
                </div>
            
                <!--row for working-->
                <div class="panel" ng-show="Hierarchy.HasWorking">
                    <div class="panel-heading">
                        Working Details
                    </div>
                    <div class="row-fluid" ng-form="formWorking" >
                      
                        @Html.Partial("EditWorking")
                    </div>
                </div>
            
                <!--row for payment-->
                <div class="panel" ng-show="Hierarchy.HasPayment">
                    <div class="panel-heading">
                        Payment Details 
                    </div>
                    <div class="row-fluid" ng-form="formPayment" >
                        
                        @Html.Partial("EditPayment")
                    </div>
                        
                </div>

                <!--row for address-->
                <div class="panel" ng-show="Hierarchy.HasAddress">
                    <div class="panel-heading">
                        Address Details
                    </div>
                    <div class="row-fluid" ng-form="formAddress" >
                        @Html.Partial("EditAddress")
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer well">
            <!--row for save and cancel-->
            <div class="row-fluid text-center">
                <div class="span1">
                    <input type="button" value="Save" data-ng-disabled="!validateForm(formDetails)" class="btn btn-success" ng-click="save(Stakeholder)"/>
                </div>
                <div class="span1">
                    <input type="button" value="Cancel" class="btn btn-info" ng-click="cancel()"/>
                </div>
            </div>
        </div>
    </div>
        
    <!--row for multiedit-->
    <div class="row-fluid">
        <!-- model for address-->
        <div modal="multiEditIndex>-1 && editFor=='Address'" close="closeModel()" options="modelOption">
            <div class="modal-header well-small2" >
                Address Details
            </div>
            <div class="row-fluid">
                @*<div class="alert alert-danger">
                * Mandatory fields
            </div>*@
                <div class="text-right text-error">
                    * Mandatory fields
                </div>
            </div>
            <div class="modal-body" ng-form="formAddress">
                    
                <!--row for multiaddress edit -->
                <div class="row-fluid form-horizontal" ng-show="editFor=='Address'">
                        
                    <div class="panel">
                        <div class="panel-heading">Details</div>
                        @Html.Partial("ListViews/StakeDetails")
                    </div>

                    <!--row for display address details if it.-->
                    <div class="panel" ng-show="Hierarchy.HasAddress">
                        <div class="panel-heading">Address Details</div>
                        <div class="row-fluid" ng-show="Hierarchy.HasMultipleAddress">
                            @Html.Partial("EditAddress")        
                        </div>
                        <div class="row-fluid" ng-show="!Hierarchy.HasMultipleAddress">
                            @Html.Partial("EditSingleAddress")
                        </div>
                    </div>
                        
                    <!--row for display message if not address details-->
                    <div class="row-fluid" ng-show="!Hierarchy.HasAddress">
                        <label>this stakeholder not having previlages for Address</label>
                    </div>

                </div>

            </div>
            <div class="modal-footer well">
                <div class="row-fluid">
                    <div style="float: left;">
                        <label>You are at: {{multiEditIndex}} record</label><br/>
                        <label> in {{editFor}} details </label>
                    </div>
                    <span class="left" ng-show="Hierarchy.HasMultipleAddress">
                        <input type="button" ng-click="Prevbtn(multiEditIndex,'Address')" value="Prev" class="btn btn-success"/>
                        <input type="button" value="Next" class="btn btn-success" data-ng-show="!formAddress.$dirty" ng-disabled="multiEditIndex >= listOfStakeholders.length" ng-click="Nextbtn(multiEditIndex,editFor)" ng-show="Hierarchy.HasAddress"/>
                        <input type="button" value="Save & Next" ng-disabled="!isAddressChange" ng-click="saveNext(multiEditIndex,'Address')" class="btn btn-success" ng-show="Hierarchy.HasAddress"/>
                        <input type="button" value="Next" class="btn btn-success" ng-click="Nextbtn(multiEditIndex,editFor)" ng-disabled="multiEditIndex >= listOfStakeholders.length" ng-show="!Hierarchy.HasAddress"/>
                        <input type="button" value="Cancel" class="btn btn-info" ng-click="closeModel()"/>
                    </span>
                    <span class="left" ng-show="!Hierarchy.HasMultipleAddress">
                        <input type="button" ng-click="Prevbtn(multiEditIndex,'Address')" value="Prev" class="btn btn-success"/>
                        <input type="button" value="Next" class="btn btn-success" data-ng-show="!formAddress.$dirty" ng-disabled="multiEditIndex >= listOfStakeholders.length" ng-click="Nextbtn(multiEditIndex,editFor)" ng-show="Hierarchy.HasAddress"/>
                        <input type="button" value="Save & Next" ng-disabled="addressCount==0" ng-click="saveNext(multiEditIndex,'Address')" class="btn btn-success" ng-show="Hierarchy.HasAddress"/>
                        <input type="button" value="Next" class="btn btn-success" ng-click="Nextbtn(multiEditIndex,editFor)" ng-disabled="multiEditIndex >= listOfStakeholders.length" ng-show="!Hierarchy.HasAddress"/>
                        <input type="button" value="Cancel" class="btn btn-info" ng-click="closeModel()"/>
                    </span>
                </div>
            </div>
        </div>
            
        <!-- model for payments-->
        <div modal="multiEditIndex>-1 && editFor=='Payments'" close="closeModel()" options="modelOption" >
            <div class="modal-header well-small2" >
                Payment Details
            </div>
            <div class="row-fluid">
                @*<div class="alert alert-danger">
                        * Mandatory fields
                    </div>*@
                <div class="text-right text-error">
                    * Mandatory fields
                </div>
            </div>
            <div class="modal-body" ng-form="formPayment">
                <!--row for multipayment edit-->
                <div class="row-fluid form-horizontal" ng-show="editFor=='Payments'">
                    <div class="panel">
                        <div class="panel-heading">Details</div>
                        @Html.Partial("ListViews/StakeDetails")
                    </div>
                    <!--row for display address details if it.-->
                    <div class="panel" ng-show="Hierarchy.HasPayment">
                        <div class="panel-heading">Payment Details</div>
                        <div class="row-fluid" >
                            @Html.Partial("EditPayment")        
                        </div>
                    </div>
                       

                    <!--row for display message if not address details-->
                    <div class="row-fluid" ng-show="!Hierarchy.HasPayment">
                        <label>This stakeholder not having previlages for Payments</label>
                    </div>
                </div>
            </div>
            <div class="modal-footer well">
                <div style="float: left;">
                    <label>You are at: {{multiEditIndex}} record</label><br/>
                    <label> in {{editFor}} details </label>
                </div>
                <span>
                    <input type="button" ng-click="Prevbtn(multiEditIndex, editFor)" value="Prev" class="btn btn-success"/>
                    <input type="button" value="Next" data-ng-show="!formPayment.$dirty" ng-disabled="multiEditIndex == listOfStakeholders.length-1" ng-click="Nextbtn(multiEditIndex,editFor)" class="btn btn-success" ng-show="Hierarchy.HasPayment"/>
                    <input type="button" value="Save & Next" ng-disabled="!isPaymentChange" ng-click="saveNext(multiEditIndex,'Payment')" class="btn btn-success" ng-show="Hierarchy.HasPayment"/>
                    <input type="button" value="Next" ng-click="Nextbtn(multiEditIndex,editFor)" ng-disabled="multiEditIndex >= listOfStakeholders.length" class="btn btn-success" ng-show="!Hierarchy.HasPayment"/>
                    <input type="button" value="Cancel" class="btn btn-info" ng-click="closeModel()"/>
                </span>
            </div>
        </div>
            
        <!-- model for working-->
        <div modal="multiEditIndex>-1 && editFor=='Working'" close="closeModel()" options="modelOption" >
            <div class="modal-header well-small2" >
                Working Details
            </div>
            <div class="row-fluid">
                @*<div class="alert alert-danger">
                        * Mandatory fields
                    </div>*@
                <div class="text-right text-error">
                    * Mandatory fields
                </div>
            </div>    
            <div class="modal-body">
                <div class="row-fluid form-horizontal" ng-form="formWorking">
                    <div class="panel">
                        <div class="panel-heading">Details</div>
                        @Html.Partial("ListViews/StakeDetails")
                    </div>
                    <!--row for multiworking edit-->
                    <div class="panel" ng-show="editFor=='Working'">
                        <div class="panel-heading">Working Details</div>
                        <div class="row-fluid" ng-show="Hierarchy.HasWorking">
                            @Html.Partial("EditWorking")        
                        </div>
                    </div>
                    <div class="row-fluid" ng-show="editFor=='Working'">

                        <div class="row-fluid" ng-show="!Hierarchy.HasWorking">
                            <label>This stakeholder not having previlages for Working </label>
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal-footer well">
                <div style="float: left;">
                    <label>You are at: {{multiEditIndex}} record</label><br/>
                    <label> in {{editFor}} details </label>
                </div>
                <span class="left">
                    <input type="button" ng-click="Prevbtn(multiEditIndex,'Working')" value="Prev" class="btn btn-success"/>
                    <input type="button" value="Next" data-ng-show="!formWorking.$dirty" ng-disabled="multiEditIndex == listOfStakeholders.length-1" ng-click="Nextbtn(multiEditIndex,'Working')" class="btn btn-success" ng-show="Hierarchy.HasWorking"/>
                    <input type="button" value="Save & Next" ng-disabled="!isWorkingChange" ng-click="saveNext(multiEditIndex,'Working')" class="btn btn-success" ng-show="Hierarchy.HasWorking"/>
                    <input type="button" value="Next" ng-click="Nextbtn(multiEditIndex,'Working')" ng-disabled="multiEditIndex >= listOfStakeholders.length-2" class="btn btn-success" ng-show="!Hierarchy.HasWorking"/>
                    <input type="button" value="Cancel" class="btn btn-info" ng-click="closeModel()"/>
                </span>
            </div>
        </div>

    </div>
        
    <!-- row for add new stakeholder-->
</div>


@section scripts{
    
    <script src="~/Areas/Stakeholder/ViewModels/EditStakeholders.js"></script>

    <script>
        var nowTemp = new Date();
        var now = new Date(nowTemp.getFullYear(), nowTemp.getMonth(), nowTemp.getDate(), 0, 0, 0, 0);

        var checkin = $('#startDate').datepicker({
            onRender: function(date) {
                return date.valueOf() < now.valueOf() ? 'disabled' : '';
            }
        }).on('changeDate', function(ev) {
            if (ev.date.valueOf() > checkout.date.valueOf()) {
                var newDate = new Date(ev.date);
                newDate.setDate(newDate.getDate() + 1);
                checkout.setValue(newDate);
            }
            checkin.hide();
            $('#endDate')[0].focus();
        }).data('datepicker');
        var checkout = $('#endDate').datepicker({
            onRender: function(date) {
                return date.valueOf() <= checkin.date.valueOf() ? 'disabled' : '';
            }
        }).on('changeDate', function() {
            checkout.hide();
        }).data('datepicker');
    </script>
}

@section styles
{
    <style>
        .new-model {
          width: 1026px;
          margin-left: -460px;
        }
    </style>
}
